@font-face {
  font-family: "Roboto-Light";
  src: url("fonts/Roboto-Light.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("fonts/Roboto-Light.otf") format("opentype"), /* Open Type Font */ url("fonts/Roboto-Light.svg") format("svg"), /* Legacy iOS */ url("fonts/Roboto-Light.ttf") format("truetype"), /* Safari, Android, iOS */ url("fonts/Roboto-Light.woff") format("woff"), /* Modern Browsers */ url("fonts/Roboto-Light.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("fonts/Roboto-Regular.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("fonts/Roboto-Regular.otf") format("opentype"), /* Open Type Font */ url("fonts/Roboto-Regular.svg") format("svg"), /* Legacy iOS */ url("fonts/Roboto-Regular.ttf") format("truetype"), /* Safari, Android, iOS */ url("fonts/Roboto-Regular.woff") format("woff"), /* Modern Browsers */ url("fonts/Roboto-Regular.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("fonts/Roboto-Bold.eot");
  /* IE9 Compat Modes */
  src: url("fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("fonts/Roboto-Bold.otf") format("opentype"), /* Open Type Font */ url("fonts/Roboto-Bold.svg") format("svg"), /* Legacy iOS */ url("fonts/Roboto-Bold.ttf") format("truetype"), /* Safari, Android, iOS */ url("fonts/Roboto-Bold.woff") format("woff"), /* Modern Browsers */ url("fonts/Roboto-Bold.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
.bold {
  font-family: 'Roboto-Bold', sans-serif;
}
.light {
  font-family: 'Roboto-Light', sans-serif;
}
.regular {
  font-family: 'Roboto-Regular', sans-serif;
}
.header {
  padding: 10px 30px;
  background-color: rgba(23, 37, 45, 0.82);
  color: #fff;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-pepople-wrap {
  position: relative;
}
.search-pepople-form {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  height: 26px;
}
.search-pepople-form input {
  width: 274px;
  border: none;
  outline: none;
  padding: 5px 0 5px 10px;
  font-style: italic;
}
.search-pepople-form button {
  border: none;
  position: absolute;
  right: 0;
  bottom: 2.5px;
  background-color: #ffff;
  outline: none;
}
.result-block {
  display: none;
  background-color: #ffff;
  position: absolute;
  width: 274px;
  top: 41px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.user-profile {
  position: relative;
}
.user-profile-menu {
  background-color: #fff;
  position: absolute;
  margin-top: 10px;
}
.user-profile-menu ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-profile-menu ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: #333;
  margin-left: 10px;
  transition: 0.2s ease;
  padding: 15px;
}
.user-profile-menu ul li:hover {
  background-color: #3781f0;
}
.user-profile-menu ul li:hover a {
  color: #fff;
}
.sidebar {
  background-color: #333333;
  width: 20%;
  color: #fff;
}
.logo a {
  text-decoration: none;
  color: #ffff;
}
.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
}
.people-list-item,
.chat-list-item {
  padding: 5px 10px;
  transition: 0.2s all ease;
}
.people-list-item a,
.chat-list-item a {
  text-decoration: none;
  color: #333;
}
.people-list-item:hover,
.people-list-item a:hover {
  color: #ffff;
  background-color: #3391E8;
}
.chat-list-item a {
  color: #fff;
}
.chat-list-item:hover,
.chat-list-item a:hover {
  color: #ffff;
  background-color: #5F7EEA;
}
.people-list-item:not(:last-child),
.chat-list-item:not(:last-child) {
  margin-bottom: 10px;
}
.user {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.user-name {
  font-size: 1.1rem;
}
.user-avatar {
  display: inline-block;
  background-color: red;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.event-card {
  width: 100%;
  max-width: 490px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-top: 15px;
  margin-right: 25px;
  transition: 0.3s ease;
}
.event-card a {
  text-decoration: none;
  color: #333;
}
.event-card:hover {
  transform: scaleX(1.01);
}
.event-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #333;
}
.event-card__content {
  padding: 0 10px 10px 10px;
}
.event-card__content h2 {
  font-size: 1.69rem;
  font-family: 'Roboto-Bold', sans-serif;
}
.event-card__content p {
  font-size: 0.96rem;
  font-family: 'Roboto-Regular', sans-serif;
}
.event-card__image--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.event-card__members {
  max-width: 490px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 25px;
}
.event-card__members-top {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.event-card__members-top span {
  font-family: 'Roboto-Regular', sans-serif;
}
.event-card--photo {
  display: block;
  background-color: #333;
  max-width: 100%;
  width: 145px;
  min-height: 120px;
  margin: 10px 10px 10px 0;
}
.event-detail {
  margin: 0 auto;
}
.date-creation {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 0.75;
}
.btn-more {
  background-color: #fff;
  border: 1px solid #723D9C;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 20px;
  border-radius: 20px;
  transition: 0.2s ease;
  font-family: 'Roboto-Regular', sans-serif;
}
.btn-more:hover {
  color: #fff;
  background-color: #723D9C;
}
.btn-more:hover a {
  color: #fff;
}
.btn-orange {
  border: 1px solid #aa4d16;
}
.btn-orange:hover {
  background-color: #aa4d16;
}
.members-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.members-list-item {
  margin-top: 10px;
  margin-right: 15px;
}
.modal {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  z-index: 6;
  border-radius: 10px;
}
.modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(3, 3, 3, 0.4);
  z-index: 5;
}
.modal-header {
  padding: 10px 15px;
}
.modal-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-content {
  display: flex;
  justify-content: center;
  padding: 10px 15px;
}
.event-page {
  height: 100vh;
}
.event-page-wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.l-auth-page,
.l-register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.bg-blue {
  background-color: #488FB5;
}
.entering-page-form {
  text-align: center;
  width: 30%;
}
.entering-page-form-header {
  font-size: 1.5rem;
  color: #ffffff;
  position: relative;
  text-transform: uppercase;
  font-family: 'Roboto-Regular', sans-serif;
}
.entering-page-form-header:after,
.entering-page-form-header:before {
  content: '';
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: #d8dde6;
  top: 50%;
}
.entering-page-form-header:before {
  transform: translateX(-150%);
}
.entering-page-form-header:after {
  transform: translateX(50%);
}
.entering-page-form-box {
  background-color: #fff;
  margin-top: 20px;
  border-radius: 20px;
  -webkit-box-shadow: -1px 1px 22px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 22px -5px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 22px -5px rgba(0, 0, 0, 0.75);
}
.entering-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 40px 36px 20px 36px;
}
.entering-form input {
  margin-bottom: 15px;
  padding: 15px;
  width: 100%;
  outline: none;
}
.entering-form input:focus {
  border: 2px solid #488fb5;
}
.entering-form-bottom {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.3rem;
  margin-top: 10px;
}
.btn-send {
  padding: 20px;
  background: transparent;
  outline: none;
  border: 1px solid #1b76f5;
  transition: 0.3s all ease;
  text-transform: uppercase;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 1.1rem;
  cursor: pointer;
}
.btn-send:active,
.btn-send:hover {
  background-color: #1b76f5;
  color: #ffffff;
}
.main-page-wrap {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.main-page-wrap__btn-panel {
  display: flex;
}
.main-page-wrap__top {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}
.main-page-wrap__container {
  width: 100%;
}
.events {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.btn-add-event {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 154px;
  padding: 10px 15px;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  margin-right: 15px;
  border-radius: 20px;
  transition: 0.2s ease;
}
.settings-page {
  background-color: rgba(241, 248, 221, 0.5);
}
.settings-page-wrap {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}
.form-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 100%;
}
.user-form {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-form-header {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 0.8rem;
  border-bottom: 0.5px solid #B6B6B6;
  color: #8B8585;
  padding: 10px 15px;
  margin-bottom: 20px;
}
.user-form-block {
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}
.user-form-data {
  padding-bottom: 25px;
  padding-left: 35px;
  padding-right: 35px;
}
.user-form-group {
  margin-top: 30px;
  display: flex;
}
.omrs-input-group {
  margin-bottom: 1.5rem;
  position: relative;
  width: 20.4375rem;
}
.omrs-input-underlined > input {
  margin-right: 40px;
  width: 270px;
  height: 40px;
  border: 0.5px solid #8C7373;
  border-radius: 10px;
  padding-left: 0.875rem;
  line-height: 147.6%;
  padding-top: 0.825rem;
  padding-bottom: 0.5rem;
}
.omrs-input-underlined > input:focus {
  outline: none;
}
.omrs-input-underlined > .omrs-input-label {
  position: absolute;
  top: 0.9375rem;
  left: 0.875rem;
  line-height: 147.6%;
  color: rgba(19, 19, 21, 0.6);
  transition: top 0.2s;
}
.omrs-input-underlined > input:focus + .omrs-input-label,
.omrs-input-underlined > input:valid + .omrs-input-label {
  top: 0;
  font-size: 0.9375rem;
  margin-bottom: 32px;
}
.save-btn {
  margin-top: 10px;
  width: 205px;
  height: 45px;
  background-color: #C81919;
  border-radius: 10px;
  color: #fff;
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 1.1rem;
  transition: 0.2s ease;
  border: transparent;
  outline: none;
  cursor: pointer;
}
.save-btn:hover {
  background-color: #da2f2f;
}
